@import "bootstrap";

.main-container {
  margin: 10px;
}

.room-nav-link {
  border: 1px solid lighten($primary, 40%);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.chat {
  border: 1px solid lighten($secondary, 40%);
  background: lighten($secondary, 50%);
  height: 50vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 10px;
}

.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px;
}
